<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Escola de Idiomas</title>

  <link rel="stylesheet" type="text/css" href="styles/style.css" media="screen"/>
</head>
<body>
    <center>
      <a href="index"><p>Voltar</p></a>

      <form action="/chatbot" method="GET"></form>
      <input class="input_chat" type="text" name="answer" value="<%= message %>" readonly>
      <input type="submit" value="Enviar" name="submitMessage">
      <br><br>
      <input class="input_chat" type="text" name="help" value="<%= bot %>" readonly>
    </center>

    <script src="js/chat-2.js"></script>
</body>
</html>