html {
  height: 100%;
}

body {
  background: #f7f7f7;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.input_game {
  background: transparent;
  border: none;
  border-color: transparent;
  outline: none;
  text-align: center;
}

.input_chat {
  background: transparent;
  border: none;
  border-color: transparent;
  outline: none;
  text-align: center;
}